@font-face {
    font-family: english;
    src: url(InterRegular.otf);
}

* {
    font-family: english;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

a {

    text-decoration: none;
}

body {
    font-size: 16px;
    margin: 0;
}