.navbar {
    padding: 30px 45px;
    height: 250px;
    background-color: rgb(39, 39, 39);
    color: rgb(224, 193, 16);
}

.navbar .navline {
    height: 0.2px;
    border-width: 0;
    color: gray;
    background-color: rgb(211, 214, 36)
}

.navbar .topSection {
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
}

.navbar .topSection .leftTop {}

.navbar .topSection .leftTop i {
    padding: 2px;
    font-size: 1em;
}

.navbar .topSection .rightTop {}

.navbar .topSection .rightTop i {
    padding: 2px;
    margin: 0px 2px;
}

.navbar .topSection .rightTop span {
    font-size: 1em;
}

.navbar .bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .bottomSection .bottomLeft {}

.navbar .bottomSection .bottomLeft i {
    font-size: 3em;


}

.navbar .bottomSection .bottomLeft span {
    font-size: 1.5em;
    top: 0px;
}

.navbar .bottomSection .bottomCenter {
    margin-top: 10px;
}

.navbar .bottomSection .bottomCenter a {
    margin: 5px 20px;
    color: rgb(224, 193, 16);
    font-size: 1.2em;
}

.navbar .bottomSection .bottomRight {}

.navbar .bottomSection .bottomRight .btn {
    height: 35px;
    width: 130px;
    background-color: rgb(224, 193, 16);
    border-radius: 15px;
    padding-bottom: 40px;

}

.navbar .bottomSection .bottomRight .btn a {
    font-size: 2em;
    color: black;
}

.navbar .bottomSection .bottomRight .btn span {
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.titel-head {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* end .......................................End...header */
.col-card{
    margin: 50px 100px;
}
/* start main */
.titel-main {
  

}

.titel-main h1 {
    text-align: center;
}

.titel-main ms2 {
    font-size: 1.8em;
    text-align: center;
}


.card1 {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 350px;
    background-color: black;
    color: white;
    position: relative;
}

.card1 .btn {
    position: absolute;
    width: 60px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0px;
    background-color: rgb(224, 193, 16);

}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-info .icons {
    font-size: 4em;
    margin-top: 20px;
}

.card-info .title1 {
    font-size: 1.8em;
}

.card-info h1 {
    font-size: 3em;
    color: white;
    margin-top: 5px;
}

.card-info .title2 {
    margin-top: 5px;
    font-size: 1em;
}

.card1 .x {
    border: 2px solid yellow;
}

.endtitle {
    border: 1px solid white;
}

.endtitle .price-titlr {
    margin-left: 30px;
}

.x {
    position: relative;
    bottom: 2px;
    left: 0px;
    z-index: 10;
    background-color: white;
    color: black;
}
/* ..........................................pack */

.pack{
    background-color: black;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pack .title{
    text-align: center;

}
.pack .title h1{
    margin-top: 20px;
    display: block;
    font-size: 3em;
    
}

.pack .title i{
    font-size: 1.5em;
}

.pack .title . span{}
.pack-btn{
    color: black;
    border-radius: 15px;
}