.navbar {
    padding: 30px 45px;
    height: 250px;
    background-color: rgb(39, 39, 39);
    color: rgb(224, 193, 16);
}

.navbar .navline {
    height: 0.2px;
    border-width: 0;
    color: gray;
    background-color: rgb(211, 214, 36)
}

.navbar .topSection {
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
}

.navbar .topSection .leftTop {}

.navbar .topSection .leftTop i {
    padding: 2px;
    font-size: 1em;
    cursor: pointer;
}

.navbar .topSection .rightTop {
    cursor: pointer;
}

.navbar .topSection .rightTop i {
    padding: 2px;
    margin: 0px 2px;
}

.navbar .topSection .rightTop span {
    font-size: 1em;
}

.navbar .bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .bottomSection .bottomLeft {}

.navbar .bottomSection .bottomLeft i {
    font-size: 3em;


}

.navbar .bottomSection .bottomLeft span {
    font-size: 1.5em;
    top: 0px;
}

.navbar .bottomSection .bottomCenter {
    margin-top: 10px;
}

.navbar .bottomSection .bottomCenter a {
    margin: 5px 20px;
    color: rgb(224, 193, 16);
    font-size: 1.2em;
}

.navbar .bottomSection .bottomRight {}

.navbar .bottomSection .bottomRight .btn {
    height: 35px;
    width: 130px;
    background-color: rgb(224, 193, 16);
    border-radius: 15px;
    padding-bottom: 40px;

}

.navbar .bottomSection .bottomRight .btn a {
    font-size: 2em;
    color: black;
}

.navbar .bottomSection .bottomRight .btn span {
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.titel-head {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* end .......................................End...header */
.col-card {
    margin: 50px 100px;
}

/* start main */
.titel-main {
    margin: 0 150px;


}

.titel-main h1 {
    font-size: 3.2em;
    text-align: center;
    margin-top: 0;
}

.titel-main .ms2 {
    font-size: 1.2em;
    text-align: center;
}

/* .......................start card */
.cardpostal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
    width: 300px;
    height: 450px;
    background-color: black;
    color: white;
    position: relative;

}

.card1 .btn {
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    width: 60px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -1px;
    border: none;
    background-color: rgb(224, 193, 16);

}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-info .icons {
    font-size: 4em;
    margin-top: 20px;
    color: darkgoldenrod;
}

.card-info .title1 {
    font-size: 1.8em;
    color: darkgoldenrod;
}

.card-info h1 {
    font-size: 3em;
    color: white;
    margin-top: 35px;
    text-align: center;
}

.card-info sub {
    font-size: .2em;
    color: darkgoldenrod;
}

.card-info .title2 {
    margin-top: 5px;
    font-size: 1em;
    color: darkgoldenrod;
}


.endtitle {
    font-size: .8em;
    font-weight: bold;
    height: 60px;
    margin-top: 50px;
    border: 1px solid rgb(255, 187, 0);
    border-radius: 5px;
    background-color: black;
}

.endtitle .title3 {
    color: rgb(216, 214, 214);
    padding-left: 20px;
}

.endtitle .price-title {
    color: darkgoldenrod;
    margin-left: 90px;
    padding-right: 20px;
}

.buy-btn {
    font-weight: bold;
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-size: 1em;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: -15px;
    left: 100px;
}

.buy-btn:hover {
    background-color: blueviolet;
}










/* ..........................................pack */
.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: goldenrod;
    margin-top: 50px;
    border-radius: 15px;
    padding: 20px 200px;
}

.pack .title-pack {}

.pack .star-icons {
    margin-bottom: 10px;
    top: 0px;
}

.pack .text-pack {
    text-align: center;
    font-size: .8em;

}

.pack .pack-btn {
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1em;
    margin-top: 5px;
    cursor: pointer;
}




/* .............................section C */
.reffral-banner {
    padding: 20px 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: darkgoldenrod;
    text-align: center;
}

.reffral-banner h1 {
    color: black;
}

.reffral-banner span {
    text-align: center;
    font-size: .8em;

}

.reffral-banner button {

    background-color: rgb(0, 0, 0);
    color: rgba(197, 177, 0, 0.945);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1em;
    margin-top: 5px;
    cursor: pointer;
}

.reffral-banner {}

/* ...................................start chart */
.chartSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: goldenrod;
    margin: 50px 100px;
    border-radius: 15px;
    padding: 80px 50px;
    height: 500px;
}

.box {}

.box label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    padding: 4px 8px;
}

.box input {

    padding: 3px 0;
    width: 400px;
    height: 30px;
    border-radius: 5px;
}

.box .box-btn {

    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 1em;
    margin-top: 5px;
    cursor: pointer;
}

.box .box-btn:hover {
    background-color: blueviolet;
}

.leftsec img {
    width: 450px;
    height: 300px;
}


/* ...............................footer */
.footer-page {
    position: relative;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 25px 100px;
    margin-top: 150px;

}

.sec1 {
    margin-left: 30px;
}

.sec1 a {
    color: darkgoldenrod;
    margin-top: 5px;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

.sec1 h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 50px;
}

.sec1 i {
    margin-left: 5px;
    padding: 5px;
    color: darkgoldenrod;
}

.sec1 h6 {
    text-align: center;
    font-size: .8em;
    width: 150px;
    padding: 0px 20px;
}


.fot-section {
    position: relative;
    margin-top: 50px;
}

.footerbanner {
    position: relative;
    width: 85%;
    padding-right:10px ;
    top: -80px;
    position: absolute;
    height: 100px;
    margin: 20px 100px;
    border-radius: 10px;
    background-color: darkgoldenrod;

}

.footerbanner .part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerbanner .part .icon {
    padding-left: 20px;
    margin-top: 10px;
    font-size: 4em;
}

.footerbanner .part .title {
position: absolute;
left: 100px;
top: 5px;
display: flex;
flex-direction: column;

}

.footerbanner .btn {
    padding: 0px 2px 0px 12px;
    width: 450px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerbanner .btn button {
    color: goldenrod;
    background-color: black;
    border-radius: 5px;
    font-size: 1.2em;
    height: 90%;
    width: 40%;
    cursor: pointer;
    /* padding: 2px  8px; */
}

.footerbanner .btn .inputbtn {
    border: none;
    height: 95%;
    color: rgb(192, 216, 216);
}